<app-dashboard-card banner="banner.png">
  <div card-content>
    <div id="avatar-container">
      <img src="avatar.jpg" alt="avatar">
    </div>

    <div id="title-container">
      <h1>Simone Francesco Albino</h1>
      <p class="gray-text">Custom Software Engineering Analyst, Accenture</p>
      <p class="gray-text">He / Him · Italy</p>
    </div>

    <p id="biography">
      Hi! I'm Simone, a young enthusiast of computer science and technology.
      I'm {{age}} years old and I'm fascinated by everything related to
      programming, development, and the endless possibilities offered by
      digital innovation. Over time, I've had the opportunity to learn a lot,
      but I know there's always something new and exciting to discover.
      That's why, driven by curiosity and the desire to improve, I love
      challenging myself, growing, and continuously expanding my skills.
    </p>

    <div id="personal-data-container">
      <span class="icon-md"><img src="gicons/cake.svg" alt="birthday_cake">{{ birthday }}</span>
      <span class="icon-md"><img src="gicons/schedule.svg" alt="clock">{{ age }} Years old</span>
      <span class="icon-md"><img src="gicons/home.svg" alt="home">Torre del Greco (NA), Italy</span>
    </div>
  </div>

  <div id="social-container" card-footer>
    <a class="icon-lg" href="https://www.instagram.com/simone.albino_/" title="Instagram" target="_blank">
      <img src="social/instagram.svg" alt="">
    </a>
    <a class="icon-lg" href="https://threads.net/simone.albino_" title="Threads" target="_blank">
      <img src="social/threads.svg" alt="">
    </a>
    <a class="icon-lg" href="https://x.com/Simonalbi" title="X" target="_blank">
      <img src="social/x.svg" alt="">
    </a>
    <a class="icon-lg" href="https://www.linkedin.com/in/simone-francesco-albino-24a5a71ba/" title="Linkedin" target="_blank">
      <img src="social/linkedin.svg" alt="">
    </a>
    <a class="icon-lg" href="https://github.com/Simonalbi" title="GitHub" target="_blank">
      <img src="social/github.svg" alt="">
    </a>
  </div>
</app-dashboard-card>
