#badges-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#badges-grid .badge {
  flex: 1 0 120px;
  max-width: 170px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
