.certification-container {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

#certification-name-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.certification-url-button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px 10px;

  border: 1px solid var(--transparent-pure-black);
  border-radius: 20px;
}

a {
  text-decoration: none;
}

a > div {
  display: flex;
  flex-wrap: nowrap
}

h6 {
  color: var(--chinese-black);
}