#cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(5, 0.1fr); */
  gap: 8px;
}

#profile-summary {
  grid-column: span 3 / span 3;
}

#working-experience {
  grid-row: span 3 / span 3;
  grid-row-start: 2;
}

#education {
  grid-column: span 2 / span 2;
  grid-row-start: 2;
}

#certifications {
  grid-column: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 3;
}

#badges {
  grid-column: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 4;
}

#skills {
  grid-column: span 3 / span 3;

  grid-row-start: 5;
}

@keyframes slideInDown {
  from { opacity: 0; transform: translateY(-400px); }
  to   { opacity: 1; transform: translateY(0); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.slide-in-down {
  animation: slideInDown 0.8s ease;
}

.fade-in {
  animation: fadeIn 0.3s ease;
}

.animatable {
  opacity: 0;
  animation-fill-mode: forwards;
}

@media (max-width: 1024px) {
  #cards-container {
    grid-template-columns: 1fr;
    grid-template-rows: none;
  }

  #profile-summary,
  #working-experience,
  #education,
  #certifications,
  #badges,
  #skills {
    grid-column: span 1 / span 1;
    grid-row: auto;
  }
}