<div id="cards-container">
  <div id="profile-summary" class="animatable" #step0>
    <app-profile-summary />
  </div>
  <div id="working-experience" class="animatable" #step1>
    <app-working-experience />
  </div>
  <div id="education" class="animatable" #step2>
    <app-education />
  </div>
  <div id="certifications" class="animatable" #step3>
    <app-certifications />
  </div>
  <div id="badges" class="animatable" #step4>
    <app-badges />
  </div>
  <div id="skills" class="animatable" #step5>
    <app-skills />
  </div>
</div>

<router-outlet />
