<div class="agency-timeline-container">
  <div class="company-info-container">
    <div class="agency-logo-container">
      <img [src]="company.logo">
    </div>

    @if (company.roles.length === 1) {
      <div class="position-info-container">
        <h5>{{ company.roles[0].name }}</h5>
        <p class="sm">{{ company.name }} · {{ company.workMode }}</p>
        <p class="sm gray-text">{{ company.absoluteStartDate | date: 'MMM y'}} - {{ (company.absoluteEndDate  | date: 'MMM y') ?? "Current"}} · {{ company.companyPermanenceTime }}</p>
        <p class="sm gray-text">{{ company.location }} · {{ company.roles[0].contractType}}</p>
      </div>
    } @else {
      <!-- TODO - Draw the timeline -->
      <div class="position-info-container">
        <h5>{{ company.roles[0].name }}</h5>
        <p class="sm">{{ company.name }} · {{ company.workMode }}</p>
        <p class="sm gray-text">{{ company.absoluteStartDate | date: 'MMM y'}} - {{ (company.absoluteEndDate| date: 'MMM y') ?? "Current"}} · {{ company.companyPermanenceTime }}</p>
        <p class="sm gray-text">{{ company.location }} · {{ company.roles[0].contractType}}</p>
      </div>
    }

  </div>
</div>