.card {
  position: relative;

  height: fit-content;

  background-color: var(--pure-white);
  border-radius: 10px;

  overflow: hidden;

  border: 1px solid var(--platinum);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-banner {
  position: absolute;

  width: 100%;
  height: 100px;
}

.card-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  position: relative;

  width: 100%;
  height: inherit;

  padding: 20px;
}

.card-footer {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: fit-content;

  padding-right: 5px;
  padding-bottom: 5px;
}