* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  padding: 25px;
  background-color: #fbfaff;
}

h1, h2, h3, h4, h5, h6,
p, a, span {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #101517;
  letter-spacing: -.34px;
  line-height: 110%;
}

h1, h2 {
  font-weight: 700;
}

h3, h4 {
  font-weight: 600;
}

h5, h6 {
  font-weight: 500;
}

h1 {
  font-size: 2.125rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.625rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -.16px;
  line-height: 150%;
}

.sm {
  font-size: 0.85rem
}

.gray-text {
  color: #50575e;
}

.icon-sm,
.icon-md,
.icon-lg {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon-sm img,
.icon-md img,
.icon-lg img {
  vertical-align: middle;
}

.icon-sm img {
  width: 16px;
  height: 16px;
}

.icon-md img {
  width: 24px;
  height: 24px;
}

.icon-lg img {
  width: 30px;
  height: 30px;
}